---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&description=Payment%20for%20joe%40gmail.com&currency=usd&card=tok_15d9XTKoSw2hrlQeDU8KSW4Z
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15d9XUKoSw2hrlQei5NIcSCt"
          }
        }
  recorded_at: Fri, 06 Mar 2015 00:42:04 GMT
recorded_with: VCR 2.9.3
