---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=joe%40gmail.com&card=tok_15h29lKoSw2hrlQej9YkU8p4&plan=regular
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1426527458,
          "id": "cus_5snlatPqqpk9Dk",
          "livemode": false,
          "description": null,
          "email": "joe@gmail.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5snlatPqqpk9Dk/subscriptions",
            "data": [
              {
                "id": "sub_5snlOrJDkt0w6k",
                "plan": {
                  "interval": "month",
                  "name": "Myflix regular subscription",
                  "created": 1426518765,
                  "amount": 999,
                  "currency": "usd",
                  "id": "regular",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Myflix fee"
                },
                "object": "subscription",
                "start": 1426527458,
                "status": "active",
                "customer": "cus_5snlatPqqpk9Dk",
                "cancel_at_period_end": false,
                "current_period_start": 1426527458,
                "current_period_end": 1429205858,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5snlatPqqpk9Dk/sources",
            "data": [
              {
                "id": "card_15h29lKoSw2hrlQes0aOJUTR",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "yVufS9dNGxll2kqT",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5snlatPqqpk9Dk"
              }
            ]
          },
          "default_source": "card_15h29lKoSw2hrlQes0aOJUTR"
        }
  recorded_at: Mon, 16 Mar 2015 17:37:39 GMT
recorded_with: VCR 2.9.3
