---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15hOHqKoSw2hrlQeJPJ4ASC8",
          "livemode": false,
          "created": 1426612526,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15hOHqKoSw2hrlQeQ3mjkjJH",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "yVufS9dNGxll2kqT",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "70.49.170.83"
        }
  recorded_at: Tue, 17 Mar 2015 17:15:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=davin_stoltenberg%40weinat.name&card=tok_15hOHqKoSw2hrlQeJPJ4ASC8&plan=regular
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1426612527,
          "id": "cus_5tAdM8lvQFBpoe",
          "livemode": false,
          "description": null,
          "email": "davin_stoltenberg@weinat.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5tAdM8lvQFBpoe/subscriptions",
            "data": [
              {
                "id": "sub_5tAdSNmY7ZbiEY",
                "plan": {
                  "interval": "month",
                  "name": "Myflix regular subscription",
                  "created": 1426518765,
                  "amount": 999,
                  "currency": "usd",
                  "id": "regular",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Myflix fee"
                },
                "object": "subscription",
                "start": 1426612527,
                "status": "active",
                "customer": "cus_5tAdM8lvQFBpoe",
                "cancel_at_period_end": false,
                "current_period_start": 1426612527,
                "current_period_end": 1429290927,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5tAdM8lvQFBpoe/sources",
            "data": [
              {
                "id": "card_15hOHqKoSw2hrlQeQ3mjkjJH",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "yVufS9dNGxll2kqT",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5tAdM8lvQFBpoe"
              }
            ]
          },
          "default_source": "card_15hOHqKoSw2hrlQeQ3mjkjJH"
        }
  recorded_at: Tue, 17 Mar 2015 17:15:27 GMT
recorded_with: VCR 2.9.3
