---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15hT1GKoSw2hrlQel71Dsa44
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15hT1GKoSw2hrlQel71Dsa44",
          "created": 1426630718,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15hT1GKoSw2hrlQeIIGwCLk8",
              "object": "charge",
              "created": 1426630718,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "cad",
              "refunded": false,
              "source": {
                "id": "card_15hT0LKoSw2hrlQeb69NK1gW",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "g5jpAGBEMYWvSSJp",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5tFUVPL2iGqaSJ"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5tFUVPL2iGqaSJ",
              "invoice": null,
              "description": "Payment declined",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15hT1GKoSw2hrlQeIIGwCLk8/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_5tFWuL677GSAkN",
          "api_version": "2015-02-18"
        }
  recorded_at: Tue, 17 Mar 2015 22:28:16 GMT
recorded_with: VCR 2.9.3
