---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15h8i8KoSw2hrlQeVpYKLNgG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15h8i8KoSw2hrlQeVpYKLNgG",
          "created": 1426552652,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15h8i8KoSw2hrlQeq9MZaYBZ",
              "object": "charge",
              "created": 1426552652,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15h8i7KoSw2hrlQeKuWBU76i",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2015,
                "fingerprint": "yVufS9dNGxll2kqT",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5suXMRv9oPbV7R"
              },
              "captured": true,
              "balance_transaction": "txn_15h8i8KoSw2hrlQen2Y9sxqD",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5suXMRv9oPbV7R",
              "invoice": "in_15h8i8KoSw2hrlQeyAviaYmR",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "Myflix fee",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15h8i8KoSw2hrlQeq9MZaYBZ/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5suXcAzpmsjSEx",
          "api_version": "2015-02-18"
        }
  recorded_at: Tue, 17 Mar 2015 17:20:21 GMT
recorded_with: VCR 2.9.3
